div.wlby_movie
{
	background-color: #999999;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 500px;
	height: 300px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wlby_KF_90 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -50, 0);
}
}
@-webkit-keyframes wlby_KF_63 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 46, 0);
}
50%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 45, 0);
}
}
@-webkit-keyframes wlby_KF_58 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -181, 0);
}
}
@-webkit-keyframes wlby_KF_57 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -170, 0);
}
}
@-webkit-keyframes wlby_KF_56 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -159, 0);
}
}
@-webkit-keyframes wlby_KF_55 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -149, 0);
}
}
@-webkit-keyframes wlby_KF_54 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -139, 0);
}
}
@-webkit-keyframes wlby_KF_53 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -127, 0);
}
}
@-webkit-keyframes wlby_KF_52 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -109, 0);
}
}
@-webkit-keyframes wlby_KF_51 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -93, 0);
}
}
@-webkit-keyframes wlby_KF_50 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -84, 0);
}
}
@-webkit-keyframes wlby_KF_60 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 11, 0);
}
}
@-webkit-keyframes wlby_KF_61 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 21, 0);
}
}
@-webkit-keyframes wlby_KF_62 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 31, 0);
}
}
@-webkit-keyframes wlby_KF_64 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 58, 0);
}
}
@-webkit-keyframes wlby_KF_65 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 72, 0);
}
}
@-webkit-keyframes wlby_KF_66 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 86, 0);
}
}
@-webkit-keyframes wlby_KF_67 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 96, 0);
}
}
@-webkit-keyframes wlby_KF_68 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 113, 0);
}
}
@-webkit-keyframes wlby_KF_69 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 124, 0);
}
}
@-webkit-keyframes wlby_KF_70 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 133, 0);
}
}
@-webkit-keyframes wlby_KF_71 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 143, 0);
}
}
@-webkit-keyframes wlby_KF_49 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -64, 0);
}
}
@-webkit-keyframes wlby_KF_83 {
from, 10% {
	-webkit-transform: matrix(1, 0, 0, 1, 110.448, -95.001) scale(0.4184, 0.463);
}
10.01%, 20.01% {
	-webkit-transform: matrix(1, 0, 0, 1, 86.448, -76.001) scale(0.4184, 0.463);
}
20.02%, 30.02% {
	-webkit-transform: matrix(1, 0, 0, 1, 66.448, -58.001) scale(0.4184, 0.463);
}
30.03%, 40.03% {
	-webkit-transform: matrix(1, 0, 0, 1, 40.448, -36.001) scale(0.4184, 0.463);
}
40.04%, 50.04% {
	-webkit-transform: matrix(1, 0, 0, 1, 25.448, -22.001) scale(0.4184, 0.463);
}
50.05% {
	-webkit-transform: matrix(1, 0, 0, 1, 1.448, -2.001) scale(0.4184, 0.463);
}
57.55%, 60.05% {
	-webkit-transform: matrix(1, 0, 0, 1, -0.552, -2.001) scale(0.4184, 0.463);
}
60.06%, 70.06% {
	-webkit-transform: matrix(1, 0, 0, 1, -19.552, 17.999) scale(0.4184, 0.463);
}
70.07%, 80.07% {
	-webkit-transform: matrix(1, 0, 0, 1, -44.552, 39.999) scale(0.4184, 0.463);
}
80.08%, 90.08% {
	-webkit-transform: matrix(1, 0, 0, 1, -60.552, 55.999) scale(0.4184, 0.463);
}
90.09%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -69.502, 67.999) scale(0.4184, 0.463);
}
}
.wlby_182
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -190.5, -0.5);
}

.wlby_76
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_58;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -181, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_74
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_57;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -170, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_72
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_56;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -159, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_70
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_55;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -149, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_68
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_54;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -139, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_66
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_53;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -127, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_64
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_52;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -109, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_62
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_51;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -93, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_60
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_50;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -84, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_223
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -75, 0);
}

.wlby_222
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -74.95, 0);
}

.wlby_129
{
	-webkit-animation-duration: 4.16667s;
	-webkit-animation-name: wlby_KF_83;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -69.502, 67.999) scale(0.4184, 0.463);
	-webkit-transform-origin: 119.5px 108px;
	-webkit-animation-timing-function: linear;
}

.wlby_201
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -67, 21);
}

.wlby_202
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -66, 20);
}

.wlby_203
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -65, 19);
}

.wlby_206
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -65, 20);
}

.wlby_204
{
	-webkit-animation-duration: 0.25s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -65, 20);
}

.wlby_205
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -65, 20);
}

.wlby_55
{
	-webkit-animation-duration: 0.833333s;
	-webkit-animation-name: wlby_KF_49;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -64, 0);
	-webkit-transform-origin: 136.45px 42.75px;
	-webkit-animation-timing-function: linear;
}

.wlby_172
{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: wlby_KF_90;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -50, 0);
	-webkit-transform-origin: 100px 75px;
	-webkit-animation-timing-function: linear;
}

.wlby_2
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, -37.6, -10) scale(0.6345, 1);
	-webkit-transform-origin: 118.2px 24.5px;
}

.wlby_213
{
	-webkit-animation-duration: 0.666667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -30, 17);
}

.wlby_216
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -29, 17);
}

.wlby_215
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -29, 17);
}

.wlby_214
{
	-webkit-animation-duration: 0.5s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -29, 17);
}

.wlby_54
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, -0.5);
}

.wlby_181
{
	-webkit-animation-duration: 0.333333s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, -0.5);
}

.wlby_5
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, 37.5);
}

.wlby_1
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, 119.5);
}

.wlby_3
{
	position: absolute;
}

.wlby_128
{
	-webkit-animation-duration: 0.75s;
}

.wlby_131
{
	-webkit-animation-duration: 3.41667s;
}

.wlby_143
{
	-webkit-animation-duration: 4s;
}

.wlby_151
{
	-webkit-animation-duration: 4.66667s;
}

.wlby_158
{
	-webkit-animation-duration: 4.83333s;
}

.wlby_52
{
	-webkit-animation-duration: 5s;
}

.wlby_164
{
	-webkit-animation-duration: 5.41667s;
}

.wlby_170
{
	-webkit-animation-duration: 5.66667s;
}

.wlby_169
{
	-webkit-animation-duration: 6.66667s;
}

.wlby_178
{
	-webkit-animation-duration: 6.91667s;
}

.wlby_177
{
	-webkit-animation-duration: 7.41667s;
}

.wlby_86
{
	-webkit-animation-duration: 7.5s;
}

.wlby_4
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 225);
	-webkit-transform-origin: 249.95px 38px;
}

.wlby_212
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 6, 36);
}

.wlby_211
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 6, 36);
}

.wlby_210
{
	-webkit-animation-duration: 0.5s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 6, 36);
}

.wlby_208
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 6, 38);
}

.wlby_207
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 7, 37);
}

.wlby_209
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 7, 38);
}

.wlby_85
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 7, 183);
	-webkit-transform-origin: 50px 50px;
}

.wlby_88
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_60;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 11, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_92
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_61;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 21, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_94
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_62;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 31, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_96
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_63;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 45, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_9
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 47.95, 134.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_13
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 47.95, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_98
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_64;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 58, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_10
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 68.95, 134.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_14
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 68.95, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_100
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_65;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 72, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_199
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 77, -23);
}

.wlby_200
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 77, -23);
}

.wlby_198
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 77, -22);
}

.wlby_197
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 78, -22);
}

.wlby_196
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 78, -21);
}

.wlby_194
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 81, -22);
}

.wlby_195
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 81, -21);
}

.wlby_102
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_66;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 86, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_8
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 94.5, 112.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_11
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 94.5, 134.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_15
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 94.5, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_7
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 95.5, 90.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_104
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_67;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 96, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_106
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_68;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 113, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_12
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 117.95, 67);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_6
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 117.95, 90.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_34
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 117.95, 112.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_35
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 117.95, 134.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_40
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 117.95, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_108
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_69;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 124, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_110
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_70;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 133, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_36
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 140.6, 67);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_37
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 140.6, 90.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_38
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 140.6, 112.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_39
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 140.95, 134.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_41
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 140.95, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_112
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_71;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 143, 0);
	-webkit-transform-origin: 50px 50px;
	-webkit-animation-timing-function: linear;
}

.wlby_20
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 178.5, 123.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_27
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 178.5, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_21
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 203.5, 123.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_28
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 203.5, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_142
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 208, 57);
	-webkit-transform-origin: 71.5px 14px;
}

.wlby_157
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 218, 41);
	-webkit-transform-origin: 63px 27px;
}

.wlby_163
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 219, 84);
	-webkit-transform-origin: 47.5px 14px;
}

.wlby_22
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 228.5, 123.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_29
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 228.5, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_127
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 230.5, 23);
	-webkit-transform-origin: 50px 50px;
}

.wlby_168
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 230.5, 127.5);
	-webkit-transform-origin: 100px 75px;
}

.wlby_51
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 236, 5);
	-webkit-transform-origin: 136.45px 42.75px;
}

.wlby_23
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 256, 123.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_30
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 256, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_24
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 281.7, 123.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_31
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 281.7, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_130
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 293, 36);
	-webkit-transform-origin: 93.5px 14px;
}

.wlby_25
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 308.9, 123.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_32
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 308.9, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_176
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 317, 239);
	-webkit-transform-origin: 95.45px 27px;
}

.wlby_150
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 321, 36);
	-webkit-transform-origin: 56.45px 14px;
}

.wlby_26
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 335, 123.95);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_33
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 335, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_42
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 358.9, 90.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_45
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 358.9, 123.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_48
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 358.9, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_174
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 380, 162.5);
	-webkit-transform-origin: 62.5px 62.5px;
}

.wlby_43
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 384, 90.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_46
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 384, 123.95);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_49
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 384, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_44
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 410.9, 90.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_47
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 410.9, 123.5);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_50
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 410.9, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_16
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 437.9, 125);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_18
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 437.9, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_17
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 463.9, 124.95);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_19
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 463.9, 156.45);
	-webkit-transform-origin: 7.5px 7.5px;
}

.wlby_87
{
	position: absolute;
	-webkit-transform:matrix(0.22522,0,0,0.144928,0,0);
	-webkit-transform-origin: 0px 0px;
}

.wlby_183
{
	-webkit-animation-duration: 0.333333s;
	position: absolute;
	-webkit-transform:matrix(0.22522,0,0,0.144928,0,0);
	-webkit-transform-origin: 0px 0px;
}

.wlby_184
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(0.22522,0,0,0.144928,171,0);
	-webkit-transform-origin: 0px 0px;
}

.wlby_221
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(0.422333,0,0,0.346252,0,0);
	-webkit-transform-origin: 0px 0px;
}

.wlby_219
{
	-webkit-animation-duration: 0.25s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(0.422333,0,0,0.346252,0,0);
	-webkit-transform-origin: 0px 0px;
}

.wlby_220
{
	-webkit-animation-duration: 0.5s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(0.422333,0,0,0.346252,0,0);
	-webkit-transform-origin: 0px 0px;
}

.wlby_218
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(0.689636,0,0,0.630249,-51,0);
	-webkit-transform-origin: 0px 0px;
}

.wlby_217
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(0.689636,0,0,0.630249,-51,0);
	-webkit-transform-origin: 0px 0px;
}

.wlby_173
{
	position: absolute;
	-webkit-transform:matrix(0.689636,0,0,0.630249,0,0);
	-webkit-transform-origin: 0px 0px;
}

.wlby_187
{
	-webkit-animation-duration: 0.5s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,25,-25);
}

.wlby_189
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,25.95,-26);
}

.wlby_186
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,25.95,-25);
}

.wlby_193
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,25.95,-24);
}

.wlby_192
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,25.95,-24);
}

.wlby_190
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,26.95,-25);
}

.wlby_191
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,26.95,-24);
}

.wlby_188
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,27,-24);
}

.wlby_185
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,32.95,-28);
}

