div.wlby_movie
{
	background-color: #000000;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 500px;
	height: 300px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wlby_KF_31 {
from, 90.9% {
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, 0);
}
90.91%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 102.45, 18);
}
}
@-webkit-keyframes wlby_KF_15 {
from, to {
}
}
@-webkit-keyframes wlby_KF_3 {
from, 93.19% {
	-webkit-transform: matrix(1, 0, 0, 1, 25.5, 28.75);
}
93.2%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 25.5, 28.75);
}
}
@-webkit-keyframes wlby_KF_38 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -39.8, -68.5);
}
}
@-webkit-keyframes wlby_KF_46 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -29.25, -68.75);
}
}
@-webkit-keyframes wlby_KF_22 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, 0);
}
}
@-webkit-keyframes wlby_KF_59 {
from, 6.77% {
	-webkit-transform: matrix(1, 0, 0, 1, 42.2, 117.5);
}
6.78%, 15.26% {
	-webkit-transform: matrix(1, 0, 0, 1, 42.2, 117.5);
}
15.27%, 66.12% {
	-webkit-transform: matrix(1, 0, 0, 1, 42.2, 117.5);
}
66.13%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 179.6, 135.5);
}
}
@-webkit-keyframes wlby_KF_54 {
from, to {
	-webkit-transform: matrix(1, 0, 0, 1, 62.5, 113.1);
}
}
@-webkit-keyframes wlby_KF_13 {
from, 9.09% {
	-webkit-transform: matrix(1, 0, 0, 1, 15, 260.45);
}
9.1%, 20.46% {
	-webkit-transform: matrix(1, 0, 0, 1, 39.55, 260.25);
}
20.47%, 31.83% {
	-webkit-transform: matrix(1, 0, 0, 1, 73.55, 260.25);
}
31.84%, 43.21% {
	-webkit-transform: matrix(1, 0, 0, 1, 84.55, 261.25);
}
43.22%, 54.58% {
	-webkit-transform: matrix(1, 0, 0, 1, 112.05, 261);
}
54.59%, 65.95% {
	-webkit-transform: matrix(1, 0, 0, 1, 147.55, 259.25);
}
65.96%, 77.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 176.05, 260.75);
}
77.34%, 88.7% {
	-webkit-transform: matrix(1, 0, 0, 1, 212.55, 260.75);
}
88.71%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 441.6, 266.25);
}
}
.wlby_37
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, -470.499, -489.199) scale(0.057, 0.055);
	-webkit-transform-origin: 498.95px 517.65px;
}

.wlby_70
{
	-webkit-animation-duration: 1.66667s;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -107.547, 30.901) scale(0.3061, 0.262);
	-webkit-transform-origin: 174.95px 175.6px;
}

.wlby_88
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -47.8, -31.55);
}

.wlby_49
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_38;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -39.8, -68.5);
	-webkit-transform-origin: 181.1px 103.25px;
	-webkit-animation-timing-function: linear;
}

.wlby_89
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -31.95, 47.95);
}

.wlby_53
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_46;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -29.25, -68.75);
	-webkit-transform-origin: 172.95px 103.35px;
	-webkit-animation-timing-function: linear;
}

.wlby_81
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -24.25, 59.85);
}

.wlby_18
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, -0.5);
}

.wlby_40
{
	-webkit-animation-duration: 0.416667s;
	-webkit-animation-name: wlby_KF_22;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, 0);
	-webkit-transform-origin: 150.95px 69px;
	-webkit-animation-timing-function: linear;
}

.wlby_35
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, 56.1);
}

.wlby_6
{
	position: absolute;
}

.wlby_45
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
}

.wlby_56
{
	-webkit-animation-duration: 0.333333s;
}

.wlby_29
{
	-webkit-animation-duration: 0.333333s;
	display: none;
}

.wlby_55
{
	-webkit-animation-duration: 0.416667s;
	display: none;
}

.wlby_8
{
	-webkit-animation-duration: 0.416667s;
	display: none;
}

.wlby_57
{
	-webkit-animation-duration: 0.416667s;
	display: none;
}

.wlby_23
{
	-webkit-animation-duration: 0.5s;
	display: none;
}

.wlby_3
{
	-webkit-animation-duration: 0.833333s;
	display: none;
}

.wlby_58
{
	-webkit-animation-duration: 0.833333s;
	display: none;
}

.wlby_7
{
	-webkit-animation-duration: 1.16667s;
}

.wlby_78
{
	-webkit-animation-duration: 1.25s;
	display: none;
}

.wlby_43
{
	-webkit-animation-duration: 2s;
}

.wlby_15
{
	-webkit-animation-duration: 2.08333s;
	display: none;
}

.wlby_33
{
	-webkit-animation-duration: 2.5s;
}

.wlby_79
{
	-webkit-animation-duration: 2.5s;
	display: none;
}

.wlby_69
{
	-webkit-animation-duration: 3.25s;
}

.wlby_73
{
	-webkit-animation-duration: 6.66667s;
	display: none;
}

.wlby_12
{
	-webkit-animation-duration: 7.91667s;
	display: none;
}

.wlby_75
{
	-webkit-animation-duration: 11.5833s;
}

.wlby_2
{
	-webkit-animation-duration: 12.8333s;
}

.wlby_1
{
	-webkit-animation-duration: 19.5833s;
}

.wlby_17
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform-origin: 28.15px 15.5px;
}

.wlby_34
{
	-webkit-animation-duration: 0.333333s;
	-webkit-animation-name: wlby_KF_15;
	-webkit-transform-origin: 150.95px 69px;
	-webkit-animation-timing-function: linear;
}

.wlby_82
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 59.7);
}

.wlby_87
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 3.75, -51.6);
}

.wlby_90
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 17, 99.25);
}

.wlby_39
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 17.1, 0);
	-webkit-transform-origin: 28.4px 28.3px;
}

.wlby_5
{
	-webkit-animation-duration: 19.5833s;
	-webkit-animation-name: wlby_KF_3;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform: matrix(1, 0, 0, 1, 25.5, 28.75);
	-webkit-transform-origin: 33.25px 14.3px;
	-webkit-animation-timing-function: linear;
}

.wlby_59
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 26.5, 129.1);
}

.wlby_54
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 28.75, 68.75);
	-webkit-transform-origin: 150.95px 69px;
}

.wlby_63
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 31, 65.2);
}

.wlby_50
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 39.3, 68.5);
	-webkit-transform-origin: 150.95px 69px;
}

.wlby_31
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 49, 138);
}

.wlby_64
{
	-webkit-animation-duration: 1.33333s;
	-webkit-animation-name: wlby_KF_54;
	display: none;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform: matrix(1, 0, 0, 1, 62.5, 113.1);
	-webkit-transform-origin: 181.7px 48.05px;
	-webkit-animation-timing-function: linear;
}

.wlby_42
{
	-webkit-animation-duration: 0.916667s;
	-webkit-animation-name: wlby_KF_31;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 102.45, 18);
	-webkit-transform-origin: 150.95px 69px;
	-webkit-animation-timing-function: linear;
}

.wlby_46
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 106.7, -32.1);
}

.wlby_36
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 120.35, 0);
	-webkit-transform-origin: 28.4px 28.3px;
}

.wlby_30
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 125.15, 67.3);
}

.wlby_21
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 126.5, 87.3);
}

.wlby_22
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 130.4, 67.3);
}

.wlby_83
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 137.4, 73.7);
}

.wlby_24
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 138.15, 67.3);
}

.wlby_25
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 147.75, 67.3);
}

.wlby_80
{
	-webkit-animation-duration: 0.833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 148, 227);
}

.wlby_28
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 156.35, 67.3);
}

.wlby_27
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 169.8, 67.3);
}

.wlby_26
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 172.5, 67.3);
}

.wlby_65
{
	-webkit-animation-duration: 4.91667s;
	-webkit-animation-name: wlby_KF_59;
	-webkit-transform: matrix(1, 0, 0, 1, 179.6, 135.5);
	-webkit-transform-origin: 150.95px 69px;
	-webkit-animation-timing-function: linear;
}

.wlby_84
{
	-webkit-animation-duration: 0.833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 198, 198.2);
}

.wlby_38
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 222.55, 0);
	-webkit-transform-origin: 28.4px 28.3px;
}

.wlby_16
{
	-webkit-animation-duration: 3.66667s;
	-webkit-animation-name: wlby_KF_13;
	-webkit-transform: matrix(1, 0, 0, 1, 441.6, 266.25);
	-webkit-transform-origin: 28.15px 15.5px;
	-webkit-animation-timing-function: linear;
}

.wlby_60
{
	position: absolute;
	-webkit-transform:matrix(0.138138,0,0,0.118347,53,105.85);
	-webkit-transform-origin: 0px 0px;
}

.wlby_61
{
	position: absolute;
	-webkit-transform:matrix(0.138138,0,0,0.118347,358.65,105.45);
	-webkit-transform-origin: 0px 0px;
}

.wlby_47
{
	position: absolute;
	-webkit-transform:matrix(0.29149,0,0,0.276352,-28.7,36);
	-webkit-transform-origin: 0px 0px;
}

.wlby_20
{
	position: absolute;
	-webkit-transform:matrix(0.844925,0,0,0.704071,166.35,130.35);
	-webkit-transform-origin: 0px 0px;
}

.wlby_74
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,23,180);
}

.wlby_32
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,76.8,115.25);
}

.wlby_76
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,128.95,172.75);
}

.wlby_62
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,139.85,127);
}

.wlby_85
{
	-webkit-animation-duration: 0.833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,147,99.35);
}

.wlby_86
{
	-webkit-animation-duration: 2.08333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,147,99.35);
}

.wlby_77
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,242.45,180);
}

.wlby_71
{
	position: absolute;
	-webkit-transform:matrix(1.00021,0,0,1,0,0);
	-webkit-transform-origin: 0px 0px;
}

